html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: #070a1b;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 51:39 */